{% extends 'base.jinja' %} {% block content %}
    
    <form action="/exercises/all" method=""post>
        {{workouts}}
    
    
    </form>

{% endblock content %}


{# {% for exercise in exercises %}
        {{exercise.name}}  {{exercise.workouts}}
    {% endfor %}

    {% for workout in workouts %}
        {{workout.name}}{{workout.exercises}}
    {% endfor %} #}