{% extends 'base.jinja' %} {% block content %}
    
    <h2 class="edit-title">Edit exercise</h2>

    <form class="form edit-form" action="/exercise/{{ exercise.id }}/edit" method="post">
        <label class="form" for="name">Name</label>
        <input class="dropdown" type="text" name="name" id="name" value="{{ exercise.name }}">

        <label class="form" for="sets">Sets</label>
        <input class="dropdown" type="number" name="sets" id="sets" value="{{ exercise.sets }}">

        <label class="form" for="reps">Reps</label>
        <input class="dropdown" type="number" name="reps" id="reps" value="{{ exercise.reps }}">
    
        <input class="submit-input" type="submit" value="Update exercise">
    </form>

{% endblock content %}

