{% extends 'base.jinja' %} {% block content %}
    
    <section class="container">
        <div class="center-form">
            <form class = form action="/exercise/new" method="post">
                <label class="form" for="name">Name:</label>
                <input class="dropdown" type="text" name="name" id="name">

                <label class="form" for="sets">Sets:</label>
                <input class="dropdown" type="number" name="sets" id="sets">

                <label class="form" for="reps">Reps:</label>
                <input class="dropdown" type="number" name="reps" id="reps">
            
                <input class="submit-input" type="submit" value="Add Exercise">
            </form>
        </div>

        <h2 class="exercises__title">All exercises</h2>
        
        {% for exercise in exercises %}
            <div class="exercises-list">
            {{ exercise.name }}: {{exercise.sets}} sets {{exercise.reps}} reps
            <a class="button" href="/exercise/{{exercise.id}}/edit">Edit</a>
            <form action="/exercise/{{exercise.id}}/delete" method="post">
                <label for="delete"></label>
                <input class="delete" type="submit" name="delete" id="delete" value="Delete">
            </form>
        {% endfor %}
        </div>
    </section>

{% endblock content %}

{# {{workouts}} #}
{# {% for exercise in exercises %}
        {{exercise.name}}  {{exercise.workouts}}
    {% endfor %}

    {% for workout in workouts %}
        {{workout.name}}{{workout.exercises}}
    {% endfor %} #}