{% extends 'base.jinja' %} {% block content %}
    
<section class="container">
    <h2 class="page-title">{{workout.name}}</h2>


        <ul>
            <form action="/workout/{{workout.id}}/add-exercises" method="post">
            {% for exercise in exercises %}
                <li>Name: {{exercise.name}}  Sets: {{exercise.sets}}  Reps: {{exercise.reps}}
                        <label for="selected"></label>
                        <input type="checkbox" id="selected" name="selected" value={{exercise.id}}>
                </li>
            {% endfor %}
            
                <input class="submit-input" type="submit" value="Create workout">
            </form>
        </ul>
    {# {{workouts.exercise}} #}
</section>

{% endblock content %}