{% extends 'base.jinja' %} {% block content %}
    

<h2>{{workout.name}}</h2>


    <ul>
        {% for exercise in exercises %}
            <li>Name:{{exercise.name}}  Sets:{{exercise.sets}}  Reps:{{exercise.reps}}
                <form action="">
                    <label for="selected"></label>
                    <input type="checkbox" id="selected" name="selected">
                </form>
            </li>
        {% endfor %}
        <form action="/workout/{workout.id}/add-exercises" method="post">
            <input type="submit" value="Add workout">
        </form>
    </ul>
{# {{workouts.exercise}} #}

{% endblock content %}