{% extends 'base.jinja' %} {% block content %}

    <section class="container">
    <h1 class="page-title">All workouts</h1>

    {# {{workouts}} #}
    
    {% for workout in workouts %}
    <div class="workout-list"></div>
        <h3>{{ workout.name}}</h3>
        <p>{{ workout.exercises }}
        <a href="/workout/{{workout.id}}/edit">Edit</a>
        <form action="/workout/{{ workout.id }}/delete" method="post">
            <input class="delete" type="submit" value="Delete">
        </form>
    </div>
    {% endfor %}
    
    </section>
{% endblock content %}