{% extends 'base.jinja' %} {% block content %}
    
    <h2>Remove existing exercises</h2>

    {# {{workout.exercises}} #}

    <ul>
        <form action="/workout-exercise/{{workout.id}}/delete" method="post">
        {% for exercise in workout.exercises %}
            <li>Name: {{exercise.name}}  Sets: {{exercise.sets}}  Reps: {{exercise.reps}}
                    <label for="selected"></label>
                    <input type="checkbox" id="selected" name="selected" value={{exercise.id}}>
            </li>
        {% endfor %}
        
            <input class="delete" type="submit" value="Delete">
        </form>
    </ul>

    
    <h2>Add new exercises</h2>

    <form action="/workout/{{workout.id}}/add-exercises" method="post">
        <label class="form" for="name">Name</label>
        <input class="dropdown" type="text" name="name" id="name">

        <label class="form" for="sets">Sets</label>
        <input class="dropdown" type="number" name="sets" id="sets">

        <label class="form" for="reps">Reps</label>
        <input class="dropdown" type="number" name="reps" id="reps">
    
        <input class="submit-input" type="submit" value="Add Exercise">
    </form>

{% endblock content %}