{% extends 'base.jinja' %} {% block content %}
    
    <h1 class="page-title">Create a workout</h1>

    <form class="form" action="/workout/new" method="post">
        <label class="form" for="name">Name</label>
        <input class="dropdown" type="text" name="name" id="name">
    
        <label class="form" for="type">Type</label>
        <input class="dropdown" type="text" name="type" id="type">

        <input class="submit-input" type="submit" value="Create workout">

    </form>

{% endblock content %}