{% extends 'base.jinja' %} {% block content %}
    
    <section class="container">
        <h1 class="page-title">{{ workout.name }}</h1>
        <br>
        <div class="center">
        {{ workout.exercises }}

        </div>
    </section>
{% endblock content %}