{% extends 'base.jinja' %} {% block content %}
    
    {{ workout.name }}
    <br>
    {{ workout.exercises }}

    <form action="/workout/{{workout.id}}/workout-completed" method="post">
        <label for="workout-completed"></label>
        <input type="submit" name="workout-completed" id="workout-completed" value="Workout Completed">
    </form>
{% endblock content %}