{% extends 'base.jinja' %} {% block content %}
    
    <h1>Delete rewards</h1>

    <div>
        {% for reward in rewards %}
            {{reward.name}}
            <form action="/rewards/delete/{{reward.id}}" method="post">
                <input class="delete" type="submit" value="Delete">
            </form>
        {% endfor %}
    </div>

{% endblock content %}
