{% extends 'base.jinja' %} {% block content %}

    <div class="container center-form">
        <h2 class="page-title">You have {{user.points}} points</h2>

        <a class="home-button" href="/workout">Home</a>
    </div>

{% endblock content %}