{% extends 'base.jinja' %}

{%block head%}
{# <link add some css for just this template>#}
{%endblock%}

{% block content %}

    <div class="container center-form">
        <h1 class="page-title">You can have a</h1>
        <h2 class="homepage__workout">{{reward.name}}</h2>

        <a class="home-button" href="/workout">Home</a>
    </div>
    

{% endblock content %}