{% extends 'base.jinja' %} {% block content %}
    <div class="container">
        <h1>You can have a</h1>
        <h2>{{reward.name}}</h2>

        <a class="nav-link" href="/workout">Home</a>
    </div>
    

{% endblock content %}