* {
    margin: 0;
    padding: 0;
    background-color: #FD9149;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

/* BASE */
.base-header {
    margin: 15px 0;
    padding: 0 2rem;
    display: flex;
    gap: 40%;
}

.header-title {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    height: 30px;
}

.nav-link {
    color: #000;
}

.nav-link a:visited {
    color: #000;
}

/* HERO CONTAINER */
.hero-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    height: 60vw;
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Press Start 2P', cursive;
    font-size: 100px;
    color: #fff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    background-color: transparent;
    
}

.hero__image {
    height: 60vw;
    width: 100%;
}

/* HOMEPAGE */

.homepage__choose-workout {
    text-align: center;
}

.homepage__choose-title {
    margin: 15px 0;
    text-align: center;
}

.homepage-dropdown {
    display: flex;
    flex-direction: column;
}

/* DROPDOWNS, BUTTONS, LINKS */

.dropdown {
    background-color: #FFE1CC;
    border-color: #695D54;
    border-radius: 5px;
}

.submit-input {
    margin: 15px 0;
    padding: 5px;
    background-color: #FFD4B8;
    border-style: solid;
    border-color: #695D54;
    border-radius: 5px;
}

.delete {
    margin: 15px 0;
    padding: 5px;
    background-color: #C9598A;
    border-color: #695D54;
    border-radius: 5px;
}

.button {
    color: #000;
    background-color: #BF88BA;
    padding: 5px;
    border-radius: 5px;
    border-color: #695D54;
    border-width: 5px;
}

.center-form {
    display: flex;
    justify-content: center;
}

.form {
    text-align: center;
    background-color: #FDB249;
    border-radius: 10px;
    padding: 0 10px;
}

.page-title {
    text-align: center;
    margin-bottom: 10px;
}

/* SHOW/ADD EXERCISES */
.exercises__title {
    text-decoration: underline;
    margin: 10px 0 20px;
}

.exercises-list {
    font-style: bold;
}

.edit-form {
    width: max-content;
    text-align: center;
}