<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/707e36b538.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Workout</title>
</head>
<nav>
    <header class="base-header">
        <i class="fa-solid fa-dumbbell fa-2xl" style="color: #171716;"></i>
        <span>
            <h3 class="header-title">WORKOUT</h3>
        </span>
    </header>
    <div class="nav-bar">
            <a class="nav-link" href="/workout">Home</a>
            <a class="nav-link" href="/rewards">Rewards</a>
            <a class="nav-link" href="/exercise">Add new exercise</a>
            <a class="nav-link" href="/workout/new">Create a new workout</a>
            <a class="nav-link" href="/workout/all-workouts">Edit a workout</a>
    </div>
</nav>
<body>
    {% block content %}
        
    {% endblock content %}
</body>
</html>