<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout</title>
</head>
<span>
    <h3>WORKOUT</h3>
</span>
<nav>
    <ul>
        <li>
            <a href="/exercise">Add new exercise</a>
        </li>
        <li>
            <a href="workout/new">Create a new workout</a>
        </li>
    </ul>
</nav>
<body>
    {% block content %}
        
    {% endblock content %}
</body>
</html>