{% extends 'base.jinja' %} {% block content %}

    <div class="hero-container">
        <img class = hero__image src="static/gym.jpg" alt="gym">
        <h1 class="hero-title">Workout</h1>
    </div>

    <section class="container homepage__choose-workout">
        <h2 class="homepage__choose-title">Choose your workout</h2>
        <div>
            <form class="homepage-dropdown" action="/workout">
                <select class="dropdown" name="workout" id="workout">
                    {% for workout in workouts %}
                        <option value="{{workout.id}}">{{workout.name}}</option>
                    {% endfor %}
                </select>
                <button class="submit-input">Start Workout</button>
            </form>
        </div>
    </section>

    <section class="container">
        <h2>{{workout.name}}</h2>
        <ul>
            {% for exercise in workout.exercises %}
                <li>{{ exercise.name }} sets: {{ exercise.sets}} reps: {{exercise.reps}}</li>
            {% endfor %}
        </ul>
    </section>

{% endblock content %}

