{% extends 'base.jinja' %} {% block content %}
    <div class="hero-container">
        <img class = hero__image src="static/gym.jpg" alt="gym">
        <h1 class="hero-title">Workout</h1>
    </div>

    <p>Choose your workout</p>
    <div>
        <select name="workout" id="workout">
            {% for workout in workouts %}
                <option value="workout.id">{{workout.name}}</option>
            {% endfor %}
        </select>
        <form action="">
        <input type="submit" value="Start Workout">
        </form>
    </div>
    {# <form action="/workout/{{workout.id}}" method="post">
        <input type="submit" value="Start workout">
    </form> #}

{% endblock content %}

